body {
      position: relative;
      width: 100%; 
  }

 .span-id{
 	color: red;
 	font-size: 20px;
  } 
  #section1 {padding-top:50px;padding-top: 50px;height:500px;color: #fff; background-color: #212121;
  }
  #section2 {padding-left:0px;padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;} 

.cas{
	background-image:url("pictures/Indo_1.jpg") center center fixed no-repeat;
	max-height: 1000px;
	max-width: 100%;

}